---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/


/* ===== Sidebar width overrides ===== */
$sidebar-width: 520px;
$sidebar-width-narrow: 360px;

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

h2 {
  color: #598392;
}

.paper-links a {
  color: #eff6e0;
  font-weight: 500;
}

.paper-links a:hover {
  color: #eff6e0;
  text-decoration: underline;
}

.page__content em a,
.page__content em a:visited {
  color: inherit !important;
  text-decoration: none;
}

.page__content em a:hover,
.page__content em a:focus {
  color: inherit !important;
  text-decoration: underline; /* optional */
}
