---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

/* About page: wider sidebar + bigger avatar */
@media (min-width: 64em) {
  .about .page__inner-wrap {
    display: flex;
    align-items: flex-start;
  }

  .about .sidebar,
  .about .sidebar.sticky {
    flex: 0 0 360px;
    width: 360px;
    max-width: 360px;
  }

  .about .archive,
  .about .page__content {
    flex: 1 1 auto;
    width: auto;
    min-width: 0;
  }
}

.about .author__avatar img {
  width: 100%;
  height: auto;
  max-width: 280px;
}